<!--The content below is only a placeholder and can be replaced.-->
<div id="game-container">
  <div id="battlefield-container">
    <img class="forest-img" src="./assets/ambience/forest.jpg" />
    <img class="moon-img" src="./assets/ambience/moon.gif" />

    <div class="player"></div>
    <div class="monster"></div>
  </div>
  <div id="selection-container">
    <div class="selection-left">
      <div id="draw-pile-container">
        <img class="card-image" src="./assets/cards/Whack.png" />
      </div>
    </div>
    <div class="selection-mid">
      <div class="card-container">
        <img class="card-image" src="./assets/cards/Whack.png" />
      </div>
      <div class="card-container">
        <img class="card-image" src="./assets/cards/Flip.png" />
      </div>
      <div class="card-container">
        <img class="card-image" src="./assets/cards/Bolt.png" />
      </div>
      <div class="card-container">
        <img class="card-image" src="./assets/cards/Whack.png" />
      </div>
    </div>
    <div class="selection-right">
      <button id="end-turn-button">
        end turn
      </button>
      <div id="discard-pile-container">
        <img class="card-image" src="./assets/cards/Whack.png" />
      </div>
    </div>
  </div>
</div>
