$colorBlueberry: #063852;
$colorDarkNavy: #011a27;
$colorShadow: #2a3132;
$colorForestGreen: #2e4600;

.game-container {
  // margin: auto;
  position: relative;
  background-image: url("/assets/bg/forest1.png");
  width: 100vw;
  height: 100vh;
  background-size: auto 100%;
}

.draw-pile-container {
  position: absolute;
  left: 10px;
  bottom: 0px;
  background-color: $colorDarkNavy;
}

.hand-container {
  position: absolute;
  bottom: 0px;
  left: 200px;
  right: 200px;
  height: 220px;
}

.discard-pile-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 99;
  background-color: $colorDarkNavy;
}

.discard-pile-view-container {
  // width: 40vw;
  background-color: rgba(136, 136, 136, 0.5);
  position: absolute;
  z-index: 99;
  bottom: 220px;
  top: 1vh;
  left: 55vw;
  right: 1vw;
  overflow: hidden;
}

.draw-pile-view-container {
  // width: 40vw;
  background-color: rgba(136, 136, 136, 0.5);
  position: absolute;
  z-index: 99;
  bottom: 220px;
  top: 1vh;
  left: 1vw;
  right: 55vw;
  overflow: hidden;
}

.end-turn-btn-container {
  position: absolute;
  right: 10px;
  bottom: 150px;
  z-index: 1;
  // background-color: $colorDarkNavy;
}
.end-turn-btn {
  margin: 5px;
  text-decoration: none;
  // background-color: red;
  padding: 20px 30px;
  font-size: 22px;
  background: #c03b3b;
  color: #f8f8f2;
  box-shadow: 0px 4px 0px #e04342;
}

.end-turn-btn:active {
  box-shadow: 0 0 #751919;
  background-color: #9c1010;
}

.pile {
  overflow: hidden;
  // position: relative;
  width: 150px;
  height: 100px;
}

.pile img {
  width: 100%;
}

.pile:hover {
  height: 200px;
}

.selected {
  border: 2px solid sandybrown;
  height: 200px;
}
