$colorBlueberry: #063852;
$colorDarkNavy: #011a27;
$colorShadow: #2a3132;
$colorForestGreen: #2e4600;

.game-container {
  // margin: auto;
  position: relative;
  background-image: url("/assets/bg/forest1.png");
  width: 100vw;
  height: 100vh;
  background-size: auto 100%;
}

.draw-pile-container {
  display: flex;
  position: absolute;
  left: 10px;
  bottom: 0px;
  background-color: $colorDarkNavy;
}

.hand-container {
  position: absolute;
  bottom: 0px;
  left: 200px;
  right: 200px;
  height: 220px;
}

.discard-pile-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: $colorDarkNavy;
}
