<div class="game-container">
  <div class="draw-pile-container" (click)="showDrawPile = !showDrawPile">
    <div class="pile" [class.selected]="showDrawPile">
      <img src="./assets/cards/{{ drawPile[0].imgName }}" />
    </div>
  </div>
  <div *ngIf="showDrawPile">
    <div class="draw-pile-view-container">
      <app-pile-view [cards]="drawPile"> </app-pile-view>
    </div>
  </div>

  <div class="hand-container">
    <app-hand-view [hand]="hand"></app-hand-view>
  </div>

  <div
    class="discard-pile-container"
    (click)="showDiscardPile = !showDiscardPile"
  >
    <div class="pile" [class.selected]="showDiscardPile">
      <img src="./assets/cards/{{ discardPile[0].imgName }}" />
    </div>
  </div>
  <div *ngIf="showDiscardPile">
    <div class="discard-pile-view-container">
      <app-pile-view [cards]="discardPile"> </app-pile-view>
    </div>
  </div>
</div>
