<div class="draw-pile-container">
  <div class="pile">
    <img src="./assets/cards/forest_back.png" />
  </div>
</div>

<div class="hand-container">
  <div class="card-container">
    <img src="./assets/cards/whack.png" />
  </div>
  <div class="card-container">
    <img src="./assets/cards/flip.png" />
  </div>
  <div class="card-container">
    <img src="./assets/cards/bolt.png" />
  </div>
  <div class="card-container">
    <img src="./assets/cards/whack.png" />
  </div>
</div>

<div class="discard-pile-container">
  <div class="pile">
    <img src="./assets/cards/forest_back.png" />
  </div>
</div>
