$colorBlueberry: #063852;
$colorDarkNavy: #011a27;
$colorShadow: #2a3132;
$colorForestGreen: #2e4600;

.hand-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container img:hover {
  position: relative;
  top: -75px;
  left: -25px;
  width: 200px;
  height: auto;
  display: block;
  z-index: 999;
}

.card-container {
  margin: 10px;
  width: 150px;
  height: 200px;
}

.selected img {
  border: 5px solid sandybrown;
}

.card-container img {
  width: 100%;
  height: 100%;
}
